apex==0.9.10dev
bert4keras==0.10.9
boto3==1.21.28
botocore==1.24.28
Flask==2.0.1
Keras==2.3.1
line_profiler==3.4.0
numpy==1.19.2
pandas==1.1.5
ptvsd==4.3.2
requests==2.26.0
scikit_learn==1.0.2
six==1.15.0
tensorflow==2.11.1
torch==1.8.0
tqdm==4.62.2
transformers==4.12.5
